* {
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body{
  -webkit-font-smoothing:antialiased;
}
a{
  text-decoration:none;
}
a:hover{
  color: #f24949;
}
.wrap{
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  font-family: Poppins;
}
/* music */
#musicControl{
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
  width: 25px;
  height: 100px;
  z-index:1000;
}
.nav input{
  display: none;
}
.scroll,
.panel{
  width:100%;
  height:100%;
  position: relative;
  text-align: center;
  padding-top: 0;
}
.scroll{
  left:0;
  top:0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.panel{
  background:#fff;
  overflow: hidden;
}
#panel1{
  background-color: #ffbf00;
}
#panel2{
  background-color: #fff;
}
#panel3{
  background-color: #e6dada;
}
#panel4{
  background: url("../imgs/bg_book.jpg") no-repeat center;
}
#panel5{
  background: -webkit-radial-gradient(#001933, #000d1a, #00060d); /* Safari 5.1 - 6.0 */
  background: -o-radial-gradient(#001933, #000d1a, #00060d); /* Opera 11.6 - 12.0 */
  background: -moz-radial-gradient(#001933, #000d1a, #00060d); /* Firefox 3.6 - 15 */
  background: radial-gradient(#001933, #000d1a,	#00060d); /* 标准的语法 */
}
.Block-wrap{
  margin-top: 100px;
}
.hbd{
  margin-top: 350px;
}
.hbd h3{
  font-family: "anuDaw", "greatvibes", "Comic sans MS", sans-serif;
  letter-spacing: 0.1em;
  font-size: 70px;
  line-height: 0.8;
  text-shadow: 5px 0 5px #990000;
  color: #d90000;
  border-top: 3px solid #000000;
  padding-top: 50px;
  margin: 50px 0px 30px 0px;
}
.date{
  font-weight: bold;
  color: #006666;
}
.title{
  font-family: "amatic";
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 2px;
  word-spacing:  0.4em;
  margin-top: 20px;
  margin-bottom: 20px;
}
#panel2 .title{
  font-size: 60px;
  margin-top: 60px;
}
.content{
  font-family: "ShangHei", "SimHei";
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.2px;
  text-align: left;
  margin: 60px 100px 50px 100px;
  padding: 30px 40px 30px 40px;
  border: 2px dashed #000;
}
/*大图设置*/
ul{
  list-style: none;
  margin: 10px 0px 20px 0px;
}
ul li .big img{
  width: 600px;
  height: 337px;
  box-shadow: 3px 3px 3px #222;
}
ul li .big{
  position: absolute;
  top: 30%;
  left: 30%;
  display: none; /*内部样式中隐藏大图所在div*/
}
ul li span img{
  /*因为小照片放在span标签中，变成内联元素。设置display: block;将其转换为块级元素，才能设置图片外边距*/
  display: block;
  margin-top: 5px;
  overflow: hidden;
  cursor: pointer;
}
/*实现效果，鼠标悬浮在小图片时，相应的大图片显示*/
ul li:hover .big,
ul li:hover #pic2_sheep{
  display: block;
  z-index: 500;
}
.conte {
  background-color: #fff;
  margin-top: 25px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  height: 650px;  /*行对齐*/
}
.b{
  margin-top: 100px;
  height: 610px;
}
.filmName {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  color: #031c36;
  padding: 10px 0px 10px 10px;
}
.film {
  display: block;
  margin: 0 auto;  /*另起一行居中*/
  width: 20px;
  height: auto;
}
.description {
  font-family: "ShangHei", "SimHei";
  font-size: 14px;
  font-weight: 300;
  line-height: 1.35;
  letter-spacing: 0.1px;
  text-align: left;
  color: #4a4a4a;
  padding: 10px 10px 10px 10px;
  border-top: 1px solid #4a4a4a;
}
.poem{
  background: url("../imgs/paper.png") no-repeat center;
  padding: 100px 20px 80px 20px;
  font-size: 14px;
}
.poem p{
  margin-top: -10px;
}
.poem a{
  color: #000;
  margin-top: 5px;
  position: relative;
  left: 120px;
  font-style: italic;
}
.confession{
  font-family: "anuDaw", "greatvibes", "Comic sans MS", sans-serif;
  letter-spacing: 0.1em;
  width: 200px;
  font-size: 55px;
  color: #ffbf00;
  padding-top: 100px;
  margin: 0 auto;
}
.block{
  position: absolute;
}
#block1{
  top: 20%;
  left: 20%;
}
#block2{
  top: 70%;
  left: 10%;
}
#pic2_sheep{
  position: absolute;
  top: -100px;
  left: 50px;
  display: none;
}
#block2 #pic2_sheep img{
  width: 100px;
  height: 83px;
  box-shadow: none;
}
#block3{
  top: 5%;
  right: 5%;
}
#block4{
  bottom: 0px;
  left: 50%;
}
.text{
  position: absolute;
  font-family: "ShangHei", "SimHei";
  color: #fff;
  text-align: left;
  display: none;
}
#text1{
  top: 10%;
  left: -200px;
}
#text1 p:first-child{
  text-align: center;
}
#text1 p:last-child{
  text-align: right;
}
#text2{
  left: 100px;
  width: 300px;
}
#text2 p:last-child{
  text-align: right;
}
#text3{
  width: 295px;
}
#text4{
  top: -140px;
  left: -50px;
  width: 310px;
}
/*过渡动画*/
#nav1:checked ~ .scroll{
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
 }
#nav2:checked ~ .scroll{
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
#nav3:checked ~ .scroll{
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  -o-transform: translateY(-200%);
  transform: translateY(-200%);
}
#nav4:checked ~ .scroll{
  -webkit-transform: translateY(-300%);
  -moz-transform: translateY(-300%);
  -ms-transform: translateY(-300%);
  -o-transform: translateY(-300%);
  transform: translateY(-300%);
}
#nav5:checked ~ .scroll{
  -webkit-transform: translateY(-400%);
  -moz-transform: translateY(-400%);
  -ms-transform: translateY(-400%);
  -o-transform: translateY(-400%);
  transform: translateY(-400%);
}
@media screen and (max-device-width: 520px){
}
@font-face{
  font-family: 'greatvibes';
  src: url('../fonts/greatvibes/greatvibes-regular-webfont.woff') format('woff'),
       url('../fonts/greatvibes/greatvibes-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
 }
 @font-face{
  font-family: 'amatic';
  src: url('../fonts/amatic/amatic-bold-webfont.woff') format('woff'),
       url('../fonts/amatic/amatic-bold-webfont.woff2') format('woff2'),
       url('../fonts/amatic/amatic-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face{
 font-family: 'anuDaw';
 src: url('../fonts/anuDaw/anudrg__-webfont.woff') format('woff'),
      url('../fonts/anuDaw/anudrg__-webfont.woff2') format('woff2'),
      url('../fonts/anuDaw/anudrg__-webfont.ttf') format('truetype');
 font-weight: bold;
 font-style: normal;
}
@font-face {
  font-family: "ShangHei";
  src: url("../fonts/ShangHei/MFShangHei_Noncommercial-Regular.woff") format("woff"),
       url("../fonts/ShangHei/MFShangHei_Noncommercial-Regular.woff2") format("woff2"),
       url("../fonts/ShangHei/MFShangHei_Noncommercial-Regular.ttf") format("truetype"),
       url("../fonts/ShangHei/MFShangHei_Noncommercial-Regular.eot") format("embedded-opentype"),
       url("../fonts/ShangHei/MFShangHei_Noncommercial-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
